<div class="row mt-0 mb-4">
    <div style="padding:0px;" class="col-lg-12">
      <div id="miCarousel" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="./../../../assets/images/home.jpg" class="img-responsive" alt="">
            <!--<div class="text-left carousel-caption hidden-xs hidden-sm">
              <h1 style="margin:0px;">CARRERA ESPACIAL</h1>
              <p>¡Conocé la gran batalla tecnológica entre EEUU y la URSS!</p>
              <a style="border:3px solid rgba(0, 0, 0, 0.5);" class="btn btn-success btn-lg" href="carrera.php">¡Entrar!</a>
              <br><br>
            </div>-->
          </div>

          <div class="item">
            <img src="./../../../assets/images/home2.jpg" class="img-responsive" alt="">
            <!--<div class="carousel-caption hidden-xs hidden-sm">
              <h1 style="margin:0px;">REVOLUCIÓN CUBANA</h1>
              <p>¡Enterate cómo se liberó el pueblo Cubano!</p>
              <a style="border:3px solid rgba(0, 0, 0, 0.5);" class="btn btn-primary btn-lg" href="cuba.php">¡Entrar!</a>
              <br><br>
            </div>-->
          </div>

          <div class="item">
            <img src="./../../../assets/images/home3.jpg" class="img-responsive" alt="">
            <!--<div class="carousel-caption hidden-xs hidden-sm">
              <h1 style="margin:0px;">POPULISMO</h1>
              <p>¡Fenómeno político y social que tenés que conocer!</p>
              <a style="border:3px solid rgba(0, 0, 0, 0.5);" class="btn btn-danger btn-lg" href="populismos.php">¡Entrar!</a>
              <br><br>
            </div>-->
          </div>

          <a href="#miCarousel" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a href="#miCarousel" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>

        </div>
      </div>
    </div>
  </div>

<div class="container">
    <h1 class="text-center py-4" style="color:#555;">¡Nos preocupamos por vos!</h1>
    <div class="row pt-4">
        <div class="col-sm-4 text-center">
            <img src="../../../assets/images/thumb_working.jpg" class="card-img-top" alt="Working moment" style="border-radius:200px 200px 10px 10px;">
            <div class="card-body">
                <h5 class="card-title">Título 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-lg pb-2 px-4" style="border-radius:5px 5px 40px 40px !important">Conocer más</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <img src="../../../assets/images/thumb_planing.jpg" class="card-img-top" alt="Planning moment" style="border-radius:200px 200px 10px 10px;">
                <div class="card-body">
                    <h5 class="card-title">Título 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-lg pb-2 px-4" style="border-radius:5px 5px 40px 40px;">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <img src="../../../assets/images/thumb_relax.jpg" class="card-img-top" alt="Relax moment" style="border-radius:200px 200px 10px 10px;">
                <div class="card-body">
                    <h5 class="card-title">Título 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary btn-lg pb-2 px-4" style="border-radius:5px 5px 40px 40px">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
