<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
    <a class="navbar-brand" routerLink="home">
        <img src="./../../../assets/images/favicon.png" height="50" class="d-inline-block align-top" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="cursor:pointer;" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data Persona
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border:2px solid #aaa;">
            <a class="dropdown-item" routerLink="formulario">Agregar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="lista">Lista</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>